alabaster
alembic
amqp
argh
attrs
Babel
beautifulsoup4
billiard
celery
certifi
Chameleon
chardet
coverage
cssmin
decorator
docutils
factory-boy
Faker
gevent==22.10.2
gprof2dot
greenlet
gunicorn==20.1.0
humanize
hupper
idna
imagesize
importlib-metadata
infinity
inflection
intervals
Jinja2
jsmin
kombu
ldap3
livereload
Mako
MarkupSafe
mock
more-itertools
packaging
PasteDeploy
pathtools
plaster
plaster-pastedeploy
pluggy
port-for
psycopg2-binary
py
pyasn1
Pygments
pyparsing
pyramid
pyramid-chameleon
pyramid-debugtoolbar
pyramid-exclog
pyramid-mako
pyramid-redis
pyramid-session-redis
pyramid-tm
pyramid-webassets
pytest
pytest-cov
pytest-factoryboy
pytest-profiling
python-dateutil
python-editor
python-magic
python-slugify
pytz
PyYAML
redis
repoze.lru
repoze.who
requests
rutter
six
snowballstemmer
soupsieve
Sphinx
sphinx-autobuild
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
tabulate
text-unidecode
tornado
transaction
translationstring
urllib3
validators
venusian
vine
waitress
watchdog
wcwidth
webassets
WebOb
WebTest
who-dev
who-ldap
WTForms
WTForms-Components
WTForms-JSON
zipp
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.proxy
zope.sqlalchemy