#
# Production requirements
#
alembic                                     # Database structure migrations
celery[redis]                               # Asynchronous queue
cssmin                                      # CSS asset compression
gevent                                      # Enables usage of SSE on gunicorn
gunicorn                                    # WSGI server
humanize                                    # human readable units of measurement
jsmin                                       # Javascript asset copression
ldap3
psycopg2-binary                             # PostgreSQL database driver
python-dateutil                             # Better fuzzy date parsing
python-magic                               # File input validation
python-slugify                              # Path-friendly name generator
pyramid                                     # Framework
pyramid_chameleon                           # Templating
pyramid_exclog                              # Error log messaging for production
pyramid_redis
pyramid_session_redis                       # Redis-based HTTP session
pyramid_tm                                  # Centralized transactions
pyramid_webassets                           # Asset management and compilation
-e git+http://github.com/m-martinez/pyramid_who.git@py3k#egg=pyramid_who # User authentication
repoze.who
rutter                                      # Virtual URL path proxy-passing
SQLAlchemy                                  # ORM
tabulate                                    # ASCII tables for CLI pretty printing
who_ldap
WTForms                                     # Data input validation
WTForms-Components
WTForms-JSON
zope.sqlalchemy                             # Connects sqllachemy to pyramid_tm